.idea/
.vscode/
api/
esm2022/
fesm2022/
node_modules
npm
RELEASE.md
src/

ondewo-proto-compiler

ondewo-nlu-api
ondewo-nlu-client-angular.d.ts
ondewo-nlu-client-angular.d.ts.map
ondewo-nlu-client-angular.metadata.json
